// Variables
$primary : #25BEA0;
$secondary: #008CDD;
$black: #16191b;
$white: #fff;
$transition: 150ms all;
@import 'partials/reset';

h1 {
  font-size: 6rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

// Holders
.text-right {
  text-align: right;
}

.right {
  float: right;
}

.inline {
  display: inline;
  margin-left: 10px;
}

.center {
  text-align: center;
}

.space-100 {
  height: 100px;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.white {
  color: $white;
}

.padded {
  padding-top: 25px;
  padding-bottom: 25px;
}

.underline {
  width: 15%;
  height: 2px;
  background-color: $secondary;
  margin-bottom: 25px;
}

.hover {
  transition: 0.2s all;
  &:hover {
    color: $primary;
  }
}

// Navbar Components
#navbar {
  overflow: hidden;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  color: $white;
}

.nav {
  line-height: 3.8;
  .nav-tab {
    float: right;
    margin-left: 5vw;
    min-width: 30px;
    transition: 0.2s all;
    &:hover {
      color: $secondary;
    }
  }
}

.btn {
  @extend .center;
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1.133;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  transition: $transition;
  position: relative;
  &:hover {
    background-color: $secondary;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

// Header
#head {
  @extend .holder;
  background: linear-gradient( rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.9)), url(../media/wallpaper.jpg);
  display: flex;
  align-items: center;
  height: 100vh;
  .head-about {
    width: 50%;
  }
}

/// ABOUT
#about {
  margin-bottom: 100px;
  .img {
    width: 50%;
  }
}

.about-icons li {
  display: inline;
  margin-left: 10px;
  transition: $transition;
  &:hover {
    color: #424242;
  }
}

.skills li {
  display: inline-block;
}

.skills-list {
  margin-top: 30px;
  .skill {
    background-color: $primary;
    width: auto;
    padding: 10px;
    border-radius: 2px;
  }
}

// NOW DOING
#now {
  height: auto;
  padding: 50px 0;
  color: $black;
  background-color: $white;
}

// Experience
.exp-item {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: $black;
  width: 100%;
  min-height: 25vh;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(69, 79, 91, 0.1);
}

.exp-list {
  list-style: square;
  padding-left: 20px;
  line-height: 2;
}

.exp-item-content {
  border: 1px solid $secondary;
  border-top: none;
  padding: 10px 20px;
  background-color: $black;
}

.exp-color {
  background-color: $secondary;
  color: $white;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

//
.card {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $black;
  color: $white;
  width: 50%;
  min-height: 25vh;
  box-shadow: 0 0 15px 3px rgba(69, 79, 91, 0.3);
}

// Call to Action
#cta {
  @extend #now;
}

// projects
.project-item {
  min-height: 30vh;
  margin-top: 30px;
  margin-bottom: 30px;
  .project-text {
    height: 30vh;
    padding: 10px 20px;
    border: 1px solid $secondary;
  }
}

.project-photo img {
  object-fit: contain;
}

.project-img {
  border: 1px solid $secondary;
  height: 30vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

// Contact Form
#contact {
  @extend #head;
  height: 90vh;
  background: linear-gradient( rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.9)), url(../media/contact.jpg);
  .container {
    width: 50%;
  }
}

.btn.contact {
  padding: 15px;
  width: 50%;
}

.contact-form {
  input,
  textarea,
  button {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: $transition;
    &:hover {
      border: 2px solid $secondary;
    }
    &:focus {
      outline: none;
      border: 2px solid $primary;
    }
  }
}

.footer-box {
  border-top: 1px solid $white;
  padding: 20px 0;
}

.holder {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 1250px) {
  .project-container {
    width: 100%;
  }
}